In [1]:
print("hello world")

hello world

# Check the datatype
syntax is ***type()***

In [8]:
a = 12
type(a)

int

# type casting : converting from 1 datatype to another

In [11]:
int (18)

18

In [71]:
s= 18.0
int(s)

18

In [13]:
round(13.5)

14

# length function : to check no of characters 
it only gives string output 
syntax is ***len()***

In [18]:
a = "gani"
len(a)

4

In [36]:
x=867
len(x)

TypeError: object of type 'int' has no len()

In [30]:
x="3233"
len(x)

4

# ***str to int ***

In [38]:
a ="23"
int(a)

23

In [67]:
a ="23.0"
int(float(a))

23

In [69]:
a ="23.0"
bool(int(float(a)))

True

# str to int
value stored in tha variable is float and converted to int 
The output is a name error as the value in the variable is not int type

In [51]:
a ="23.5"
int(a)

ValueError: invalid literal for int() with base 10: '23.5'

# boolean returns only true or false syntax is bool()
the op is true if the value is not zero and ""(without space in te quotes)
the op is false if the value is zero and ""(without space in te quotes)

In [54]:
a =23
bool(a)

True

In [56]:
a =0
bool(a)

False

In [62]:
a=""
bool(a)

False

In [60]:
x ="Gani"
bool(a)

True

# input function >>>>
syntax is ***input()***

In [65]:
a = input("enter the name :")
print ("hi",a)

enter the name : gani

hi gani

use while loop or for loop 
input user's mobile number and return the sum of  the  digits

*******eval() is used for not mentioning the input, either int or float

In [1]:
x=1
s=[]
while x<=4:
    n = eval(input("enter the 10 digit mobile num"))
    s.append(n)
    print(s)
    x=x+1
s.sort()
print(s[-1])

enter the 10 digit mobile num 2

[2]

enter the 10 digit mobile num 2'

SyntaxError: unterminated string literal (detected at line 1) (<string>, line 1)

In [3]:
n = input("enter the 10 digits num")
x=0
s=0
while x < len (n):
    s= s + int(n[x])
    x=x+1
print(s)


# to get the sum of digits of sum
fs=0      
t=s
while t>0:
    fs=fs+t%10
    t=t//10
print(fs)

enter the 10 digits num 7093299525

51

In [3]:
n = input("Enter a 10-digit number: ")

# Step 1: Validate the input
while not (n.isdigit() and len(n) == 10):
    n = input("Invalid input. Please enter a 10-digit number: ")

# Step 2: Initialize variables
x = 0
s = 0

# Step 3: Loop through each digit and add it to the sum
while x < len(n):
    digit = int(n[x])  # Get the digit at index x
    s = s + digit      # Add it to the sum
    x = x + 1          # Move to the next digit

# Step 4: Print the result
print("Sum of digits:", s)

enter the 10 digits num 7093299525

51

In [9]:
n=  "7093299525" #reverse the numbers
n[::-1]

'5259923907'

In [25]:
n=  int(input("Enter a 10-digit number: ")) #reverse the numbers
s =0

while n>0:
    d= n%10   # get LAST digit
    s= s*10+d ## add digit to reversed number 
    n=n//10    # remove last digit from original number
 
print(s)

Enter a 10-digit number:  2344523424

4243254432

In [29]:
n =input("enter the 10 digit ")
s=0

while n>0:
    d=n%10
    s=s*10 +d
    n=n//10
print(s)

enter the 10 digit  7093299585

TypeError: '>' not supported between instances of 'str' and 'int'