In [450]:
a,b,c=2,3,4
x=a*b*c-c
print(x)

20

In [451]:
a,b,c=5,6,9    #form a digit of numbers (ex: 567 from 5,6,7)
x= a*100+b*10+c
print(x)

569

***add 1 to 99***

In [454]:
n= 99
n+1

100

***square a number and add 1***

In [456]:
n=2
x= n*n+1
print(x)

5

area of the circle = pi.r*2 where r = 2.5,pi=3.14

In [458]:
r = 2.5
8pi=3.14

x=pi*r*r
print(x)

SyntaxError: invalid decimal literal (996131956.py, line 2)

In [ ]:
f=2.5
l=100
f*l

In [ ]:
a=4
b=2.0
a*b

TAKESS string and return it reverse

In [ ]:
a="gani"
print(a[::-1])

polindrom : if the name/value reversed it shuld be same

In [ ]:
a="madam"
is_reversed= a == a[::-1]
print(is_reversed)

In [ ]:
g = "hello bhai"
g.replace( " ","_")                # .function means method

In [ ]:
g = "lalla"   # str is stored in g variable
g.count("l")   #"l" is string count fuction is used to count "l"

In [ ]:
g = "lalla" 
g.index("l")    # to find the index number

In [ ]:
g = "lalla" 
g.upper()

In [ ]:
g = "lalla" 
g.lower()

In [ ]:
h="hello"
g= "world"
print(h +" "+g)

In [ ]:
g = "programming"
g.replace( "m","")

In [ ]:
g = "programming"
g[3:7:1]

In [ ]:
g = "programming"
len(g)

In [ ]:
g = "i love the programming"
g.replace(" ","_")    #var.replace(old_str,new_str)

In [ ]:
g = " programming "
g.strip()   #strip() function removes leading and trailing spaces

In [ ]:
g = " programming "
g.lstrip()

In [ ]:
g = " programming "
g.rstrip()

In [ ]:
s = "hi there"
s.startswith("hi")

In [ ]:
s = "hi there"
s.endswith("hi")

In [ ]:
s = "hi there"
s.capitalize()  #capitalize() it capitalize 1st element only

In [ ]:
s = "hi there"
s.title()   #capitalize() it capitalize 1st element of every character

In [ ]:
s = ["my" , "name", "gani"]
" ".join(s)  #join function is used to join multiple str to single str

In [ ]:
s= "python is fun"
s.lower().replace(" ","_")

In [ ]:
s= "python is fun"
s.split()

In [ ]:
s= "python is fun"
x= s.split()   
x.reverse()
' '.join(x)

In [ ]:
s = "python is fun"
s.split()        # This splits the string, but you didn‚Äôt store the result
s.reverse()      # ERROR! You're still calling reverse() on a string!
' '.join(s)      # You're joining the original string, not a list

"""üîç What‚Äôs Happening:
.split() turns the sentence into a list of words

.reverse() flips the list order

' '.join() turns the list back into a string"""

## s is still a string, not a list.

#  .reverse() only works on lists, not strings.

#  s.split() returns a list, but doesn‚Äôt change s.

In [6]:
s = 'bab'
s[0]==s[-1]

True

In [8]:
g = "i love the programming"
g[0: :2]    ## return the even places characters

'ilv h rgamn'

In [10]:
g = "i love the programming"
len(g)  ## return the even places characters

22

In [12]:
v = "i love the programming"
v.split()

['i', 'love', 'the', 'programming']

In [14]:
g = "tomorrow"
g[-1]+g[1:-1:1]+g[0]

'womorrot'

In [16]:
g = "tomorrow"
"#".join(g)

't#o#m#o#r#r#o#w'

In [18]:
v= "mississippi"
v.find('s')

2

In [20]:
n= "hello world hello"
n.replace("hello","")

' world '

In [22]:
b= "HeLLoVine"
b.swapcase()  ##swapcase()  to swap lowercase to uppercase

'hEllOvINE'

In [26]:
a= int(input(" enter the 2 digit number :"))
s= a*2
print(s)

 enter the 2 digit number : 54

108

In [30]:
b= int(input(" enter the 2 digit number :"))
d= b+10
print(d)

 enter the 2 digit number : 54

64

In [32]:
f= float(input("enter the decimal value"))
g=int(f)
print(f,
      g)

enter the decimal value 5.5

5.5 5

In [ ]:
## list[]

In [ ]:
l=[10,20,30,40,50]
print(l[3])
l[4]

In [ ]:
l=[10,20,30,40,50]
print(max(l))

In [ ]:
l=[10,20,30,40,50]
print(min(l))

In [ ]:
s = ["a", "c", "b", "d"]
s.sort()
s.reverse()
print(s)

In [ ]:
#count() used to count the occurance of particular character

In [ ]:
s = ["a", "c", "b", "d","s","s"]
s.count("s")

In [ ]:
d=["violet", "yellow", "orange", "green"]
d.reverse()
print(d)

In [ ]:
p=["violet", "yellow", "orange", "green"]
p[0],p[-1]=p[-1],p[0]
print(p)

In [ ]:
l=[25,30,[26,27,28,"hello"],[32,38]]
l[2][3]

In [ ]:
l=[25,30,[26,27,28,"hello"],[32,38]]
l[2][1]=43
print(l)

In [ ]:
l=[25,30,[26,27,28,"hello"],[32,38]]
l[2][1]=43
l.insert(-2,"true")
print(l)

In [ ]:
l1=[1,3,5,7,9]
l2=[2,4,6,8]
l1.sort()
l2.sort()               # list concatenation is possileb ##list can't use replace function
print(l1+l2)

In [ ]:
l=[]
n=input("enter the fruit name")
l.append(n)
print(l)

In [ ]:
j1="7093299525"
x=set(j1)  #set() removes the duplicate values
print(x)

In [ ]:
a1=[1,3,5,7,9]
a2=[2,4,6,8]
a1.extent(a2)
print(a1)

In [ ]:
j1=[1,3,5,7,9]
sum(j1)

In [ ]:
j1="7093299525"
x=j1.split()
print(x)

In [ ]:
j1="709329 9525"
x=j1.split()
print(x)

In [ ]:
j1=["1","3","5","7","9"]
" ".join(j1)

In [ ]:
#tuple

In [ ]:
10+5+3-2

In [ ]:
7+3*2-8/4

In [ ]:
s=2
d=s**3   # ** is the power of 
print(d)

In [ ]:
10%3

In [ ]:
10//3

###| Expression | Meaning                  | Result     |
| ---------- | ------------------------ | ---------- |
| `10 / 3`   | Normal division          | `3.333...` |
| `10 // 3`  | Floor (integer) division | `3`        |
| `10 % 3`   | Remainder after division | `1`        |

# operator precedence 
 What is BODMAS?
BODMAS is a rule for the order of operations in math expressions:

B ‚Üí Brackets

O ‚Üí Orders (powers, roots, i.e., exponents)

D ‚Üí Division

M ‚Üí Multiplication

A ‚Üí Addition

S ‚Üí Subtraction

# for loop
A for loop is used to repeat a block of code for each item in a sequence (like a list, string, or range of numbers).

loop : repeat a block of code 

for: for each item in a sequence

sequence: Could be a list, string, or range().



for variable in sequence:
    # code block (what you want to do with each item)

In [ ]:
a=3
for i in [2,23]: #loop
    s=i+a
    for j in [23,44]:  #nested for loop 
        d=j+s
        print(d)

In [ ]:
for i in range(6):      #for each item in a range()
    print(i)

In [ ]:
for i in [1,2,3,4,5]:    #for: for each item in a sequencev(list[])
    print(i)

In [ ]:
for i in ["a","b","c"]:    #for each item in a list( str )
    print(i)

In [ ]:
a = "maths"          #for each item in a str 
for i in a:
    print(i)

In [ ]:
a="3647362478"
for i in a:
    print(i)

In [ ]:
a= (1,2,3,4)     #for each item in a tuple

for i in a:
    print(i)

In [ ]:
a= {1,2,3,4}     #for each item in a set

for i in a:
    print(i)

In [ ]:
l= {10,20,30,40,10,10} 
for i in range(10):
    l.discard(10)
print(l)

In [ ]:
l= {10,20,30,40,10,10} 
for i in range(10):
    l.discard(10)
    print(l)

In [ ]:
l= {10,20,30,40,10,10} 
for i in range(10):
    l.discard(10)
    print(i)

In [ ]:
g = [1,3,34,3,5]
for i in g:                    # i = 3 the i=3 i=34 , i=3, i=3
    if i==3:                   # checks the statement
        print("yes you are gani bhai")
print("lets go")

In [ ]:
g = [1,3,34,3,5]
sum(g)

In [459]:
d = [1,3,34,3,5]
d.count(3)

2

In [460]:
# using while loop user num is sum
n= input("enter the number")
x=0
s=0
while x < len(n):
    s= s + (int(n[x]))
    x=x+1
print(s)

enter the number 55

10

In [473]:
# using for loop, user mobile  num is  sum

l=input("enter the number")
s=0
for i in l:
    s=s+int(i)
print(s)

enter the number 555

15

In [475]:
9a==1
print(a)

SyntaxError: invalid decimal literal (233179427.py, line 1)

In [ ]:
// coment

In [477]:
a ="hello world"
a.title()

'Hello World'

In [479]:

a=10
print(type(a))
a ="hello world"
print(type(a))

<class 'int'>
<class 'str'>

‚úÖ Immutable Types (cannot be changed):
Type	Example
int 	a = 5
float	b = 3.14
str  	s = "hello"
tuple	t = (1, 2, 3)
bool	x = True



‚úÖ Mutable Types (can be changed):
Type	Example
list	l = [1, 2, 3]
dict	d = {"a": 1}
set	    s = {1, 2, 3}


‚úÖUNORDER 
dict	d = {"a": 1}
set	    s = {1, 2, 3}

In [481]:
a =(1,2,3)           # tuple() is immutable; values in the variable cannot be changed
a[0]=10
print(a)

TypeError: 'tuple' object does not support item assignment

In [483]:
x={1,2,3}
y={3,4,5}
z=x.intersection(y)
print(z)

{3}

In [485]:
x=[1,2,3]
y=x
y.append(4)
print(x)

[1, 2, 3, 4]

In [489]:
a= {1,2,3}
b={2,3,4}
print( a / b)

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [491]:
print("hello" is "hello")

True

<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\91709\AppData\Local\Temp\ipykernel_11140\1268698805.py:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  print("hello" is "hello")

In [493]:
not(true or false)

NameError: name 'true' is not defined

In [495]:
10==10.000000

True

In [497]:
10 is not 10

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\91709\AppData\Local\Temp\ipykernel_11140\3919734364.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  10 is not 10

False

In [500]:
l=[1,2,5]
s=set(range(1,6))
s.difference(l)

{3, 4}

In [504]:
l=[]
a=input("enter the fruit name")
l.append(a)
print(l)

enter the fruit name banana

['banana']

In [506]:
d=input("enter the fruit name")
print(len(set(d)))           #set() duplicates are not accepted
set(d)

enter the fruit name mango

5

{'a', 'g', 'm', 'n', 'o'}

In [ ]:
l=[]
while True:
    a=input("enter the fruit")
    l.append(a)
    if a=="#":
        break
print(l)

tasks>>>for loop

In [508]:
l=[1,2,2]
s=0
for i in l:   #The variable `i` will take on each value in the list one by one
    s=s+i
    

print(s)

5

In [510]:
l=["a","b","a","c"]
for i in l:
    if i=='a':
        print(i.count('a'))
    elif i=='b':
        
        print(i.count('b'))
    elif i=='c':
        print(i.count('c'))

1
1
1
1

In [512]:

for i in range(1,10):
    s=i*i
    print(s)

1
4
9
16
25
36
49
64
81

In [ ]:
## Common Python List Functions & Methods
| Function / Method | Description                                | Example Usage                 |
| ----------------- | ------------------------------------------ | ----------------------------- |
| `append(x)`       | Adds `x` at the end of the list            | `lst.append(10)`              |
| `insert(i, x)`    | Inserts `x` at index `i`                   | `lst.insert(2, 99)`           |
| `remove(x)`       | Removes the first occurrence of `x`        | `lst.remove(5)`               |
| `pop()`           | Removes and returns the last item          | `lst.pop()`                   |
| `pop(i)`          | Removes and returns item at index `i`      | `lst.pop(1)`                  |
| `sort()`          | Sorts the list in ascending order          | `lst.sort()`                  |
| `reverse()`       | Reverses the list order                    | `lst.reverse()`               |
| `clear()`         | Removes all items from the list            | `lst.clear()`                 |
| `index(x)`        | Returns index of first occurrence of `x`   | `lst.index(7)`                |
| `count(x)`        | Counts how many times `x` appears          | `lst.count(3)`                |
| `len(lst)`        | Returns the number of elements in the list | `len(lst)`                    |
| `sum(lst)`        | Returns the sum of numeric list elements   | `sum([1, 2, 3])` ‚Üí `6`        |
| `max(lst)`        | Returns the maximum value in the list      | `max(lst)`                    |
| `min(lst)`        | Returns the minimum value in the list      | `min(lst)`                    |
| `list()`          | Converts a sequence to a list              | `list("abc") ‚Üí ['a','b','c']` |

In [544]:
g=[1,2,3,4,5,6,7,8,9,10]

for i in g:
    if (i==3 or i==5 or i==7):
        g.remove(i)
print(g)

[1, 2, 4, 6, 8, 9, 10]

In [574]:
k=[10,20,30,20,20,30,40,50,-20,60,60,-20,-20]

l=[]
for i in k:
    if (i==20 or i==-20 or i==60 or i==30):
        l.append(i)
print(l)
print(k)

[20, 30, 20, 20, 30, -20, 60, 60, -20, -20]
[10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

In [3]:
g=[1,2,3,4,5,6,7,8,9,10]
k1=[]
for i in g:
    
    if i%2==0:
        k1.append(i)
print(set(k1))

{2, 4, 6, 8, 10}

In [27]:
s1={1,2,3}
s2={3,4,5}
d=list(s1)+list(s2)   #as add,remove,replace possible only on  dict,list #explicit conversion from set to list
print(d)           # set removes duplicates

[1, 2, 3, 3, 4, 5]

In [21]:
l1=[1,2,3,4]
l2=[3,4,5,6]          # Mutable : We can modify values within original object like list[],set(),dict()

l1+l2               #add,remove,replace possible only on  dict,list

[1, 2, 3, 4, 3, 4, 5, 6]

In [45]:
a1=[2, 3, 5, 7, 11,13]
for i in a1:
    if i==13:
        print("prime number")

prime number

In [63]:
d1=[1,2, 3,4, 5,6, 7,8,9,10 ,11,12,13]
s1=[]
s2=[]
for i in d1:
    if i%2==0:
        s1.append(i)
        else:           indentation error               

        s2.append(i)
print(s1)
print(s2)

SyntaxError: invalid syntax (3024803899.py, line 7)

In [65]:
d1=[1,2, 3,4, 5,6, 7,8,9,10 ,11,12,13]
s1=[]
s2=[]
for i in d1:
    if i%2==0:
        s1.append(i)
    else:
        s2.append(i)
print(set(s1))
print(set(s2))

{2, 4, 6, 8, 10, 12}
{1, 3, 5, 7, 9, 11, 13}

In [67]:
words = ["listen", "silent", "enlist", "hello", "below", "elbow", "vile", "evil", "live"]
anagram_groups = {}

for word in words:
    key = ''.join(sorted(word))  # Sorted letters form the key
    if key in anagram_groups:
        anagram_groups[key].append(word)
    else:
        anagram_groups[key] = [word]

# Print the groups
for group in anagram_groups.values():
    print(set(group))

{'silent', 'listen', 'enlist'}
{'hello'}
{'below', 'elbow'}
{'evil', 'live', 'vile'}

In [147]:
n1=input("enter the num seperate by commas:")
j1=[int(x.strip()) for x in n1.split(',')]   #int("1") removes quotes and returns int value 1 as the values is int in str format
s1=[]
s2=[]
for i in j1:
    if i%2==0:
        s1.append(i)
        
    else:
        s2.append(i)
        
print(set(s1))
print(set(s2))

enter the num seperate by commas: 1,2,3

{2}
{1, 3}

In [121]:
n1=input("enter the num seperate by commas")
n1.split(',')

enter the num seperate by commas fg,g,f

['fg', 'g', 'f']

In [153]:
g1= "1,2,3"
g=[int(x.strip()) for x in g1.split(",")]    #coverting str to int using for loop
print(g)

[1, 2, 3]

 ****Convert List of Strings to Integers****
numbers = [int(x.strip()) for x in s.split(",")]
print(numbers)

In [174]:
n=input("enter the number sepereated by commas:")
s=[int(x.strip()) for x in n.split(",")]
j1j=[]
for i in s:
    j1j.append(i)
print(set(j1j))

enter the number sepereated by commas: 1,2,3,4

{1, 2, 3, 4}

In [219]:
#index number of 81

t=(1,4,9,16,25,36,49,64,81,100)

for i in t:
    if i==81:
        print(t.index(81))

8

In [2]:
g1=9
for i in range(1,11):
    print(g1*i)

9
18
27
36
45
54
63
72
81
90

In [50]:


for i in range(5,0,-1):
    print(str(i)*i) 
    
# Explanation:
"""   range(5, 0, -1) ‚Üí counts down: 5, 4, 3, 2, 1

      str(i) * i ‚Üí repeats the digit i, i times

      str(5) * 5 ‚Üí '5' * 5 ‚Üí '55555'     """

55555
4444
333
22
1

"range(5, 0, -1) ‚Üí counts down: 5, 4, 3, 2, 1\n\nstr(i) * i ‚Üí repeats the digit i, i times\n\nstr(5) * 5 ‚Üí '5' * 5 ‚Üí '55555'"

In [79]:

for i in range(5,0,-1):
    print(str(i)*i)    # #str(i) multiplies the str i times

55555
4444
333
22
1

In [83]:
for i in range(4,9,2):
    print(i*10)

40
60
80

In [85]:
""" 2. Number Pyramidl

    1
   222
  33333
 4444444
555555555
‚úÖ Code:  """

for i in range(1, 6):
    spaces = ' ' * (5 - i)
    numbers = str(i) * (2 * i - 1)
    print(spaces + numbers)

    1
   222
  33333
 4444444
555555555

In [103]:
# passport_validity
pass_val= input(" enter the year of expiry")
validity=[ int(pass_val)]
for i in validity:
    if i>2023:
        print("valid")
    else:
        print("invalid")

 enter the year of expiry 5555

valid

In [107]:
lis=[1,2,3,4,5,6,7,8]
for i in lis:
    print(i,i.index(i))   # 1.index(1)  'int' object has no attribute 'index'

AttributeError: 'int' object has no attribute 'index'

In [109]:
lis=[1,2,3,4,5,6,7,8]
for i in lis:
    print(i,lis.index(i))

1 0
2 1
3 2
4 3
5 4
6 5
7 6
8 7

In [117]:
l=[]
for i in range(1,50):
    if i%3==0:
        l.append(i)
        
    
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [131]:
name=input("enter the name")

for i in name:
    print(name.upper())
    print(len(name.upper()))

enter the name gasni

GASNI
5
GASNI
5
GASNI
5
GASNI
5
GASNI
5

In [49]:
l=("1,2,3,4")
d=[int(x) for x in l.split(',')]
print(f"list of l is {d}")

list of l is [1, 2, 3, 4]

In [152]:
d1=input(" enter the value seperated by commas:")
d2=input(" enter the value seperated by commas:")
d3=[int(x) for x in l.split(',')]
d4=[int(x) for x in l.split(',')]
d5=set(d3)
d6=set(d4)
d5.intersection(d6)

 enter the value seperated by commas: 1,2,3,4
 enter the value seperated by commas: 3,4,5

{1, 2, 3, 4}

In [164]:
import random
for i in range(2):
    h=random.randint(1,100)
print(h)

21

In [196]:
l=["a","b","c","a","a","b"]
for a in l:
    print(l.count("a"))

3
3
3
3
3
3

if esle>>

In [218]:
age=eval(input("enter the age"))
if age>=18 and age<=100:
    print("adult")
elif age<18 and age>0:
    print("minor")
elif age<=0:
    print("enter the correct number")
else:
    print("error")

enter the age -11

enter the correct number

if else >>>tasks

In [291]:
l=[1,2,3,2,1]
if l==l[::-1]:
    print(bool(l))
else:
    print("error")

True

In [293]:
a=13
if a==13:
    print("prime")

prime

In [303]:
month=input("enter the month name")

if month in ["january","march","may","july","agust","octomber","december"]:
    print(month," no. of days :31")
elif month in ["april","june","september","november"]:
    print("no.of days:  31")
elif month=="febraury":
    print("no of days : 29 or 28")
else:
    print("invalid month")

enter the month name febraury

no of days : 29 or 28

In [351]:
length=eval(input("enter the length"))
breath=eval(input("enter the breath"))

if length==breath:
    
    s_we=length*length
    
    print(s_we,":is the square of the number")
else:
    print(" not square")

enter the length 8
enter the breath 54

 not square

In [361]:
nc1=eval(input("enter the num"))
nc2=eval(input("enter the num"))

if nc1>nc2:
    print(nc1," : is the greater")

if nc2>nc1:
    print(nc2," : is the greater")  
else:
    print("smaller")

enter the num 445
enter the num 4

445  : is the greater
smaller

In [388]:
percentage=eval(input("enter the class attend"))
if percentage>28.0 and percentage<100.0:
    print("eligible the write the exam")
else:
    print("not eligible")

enter the class attend 85

eligible the write the exam

In [390]:
per=eval(input("enter the class attend"))
if per<40:
    print("failed")
elif per<55 and per>=40:
    print("fair")
elif per<65 and per>=55:
    print("good")
elif per>=65:
    print("excellent")

enter the class attend 88

excellent

In [396]:
a=eval(input("enter the 1st"))
b=eval(input("enter the 2nd"))
c=eval(input("enter the 3rd"))

if a==b==c:
    print("equilateral")

elif a==b!=c:
    print("isosceless")

elif a!=b!=c:
    print("scelenes")

enter the 1st 55
enter the 2nd 55
enter the 3rd 55

equilateral

In [11]:
e=eval(input("enter the marks"))
m=eval(input("enter the marks"))
s=eval(input("enter the marks"))
so=eval(input("enter the marks"))

if e>80 and m>80 and s>80 and so>80:
    
    print("science stream")
elif e>80 and m<50 and s<50:
    
    print("commerce stream")
elif e>80 and  so>80:
    
    print("humanities")

enter the marks 90
enter the marks 90
enter the marks 80
enter the marks 89

humanities

In [17]:
gr=eval(input("enter the score"))
if gr>=90 and gr<=100:
    print("A Grade")
elif gr>=80 and gr<=89:
    print("B Grade")
elif gr>=70 and gr<=79:
    print("C Grade")
elif gr>=60 and gr<=69:
    print("D Grade")
else:
    print("F Grade")

enter the score 99

A Grade

In [23]:
sal=eval(input("enter the salary"))
exp=eval(input("enter the no of  experience"))
if exp<5:
    print(" no bonus credited")
elif exp>5:
    print("bonus credited is: ",sal*0.05)

enter the salary 80000
enter the no of  experience 6

bonus credited is:  4000.0

In [25]:
a=eval(input("enter the number"))
b=eval(input("enter the number"))
op=input("enter the operator *,%,+,- :")

if op=="*":
    print(a*b)
elif op=="%":
    print(a%b)
elif op=="+":
    print(a+b)
elif op=="-":
    print(a-b)

enter the number 8
enter the number 5
enter the operator *,%,+,- : *

40

In [45]:
age=eval(input("enter the age:"))
if age >=18and age<21:
         print("eligible to vote ")
elif age>=21:
    print("dl")
else:
    print("not eligible to vote")

<>:2: SyntaxWarning: invalid decimal literal
<>:2: SyntaxWarning: invalid decimal literal
C:\Users\91709\AppData\Local\Temp\ipykernel_26260\4191970925.py:2: SyntaxWarning: invalid decimal literal
  if age >=18and age<21:

enter the age: 22

dl

In [51]:
num=eval(input("enter the num:"))

if num%7==0:
    print("divisible by 7")
else:
    print("not divisible by 7")

enter the num: 49

divisible by 7

In [65]:
num=eval(input("enter the num:"))

if num>0:
    print(num%3)

enter the num: 67

1

In [71]:
age1=eval(input("enter the age:"))
age2=eval(input("enter the age:"))
age3=eval(input("enter the age:"))
age4=eval(input("enter the age:"))

if age1<age2 and age1<age3 and age1<age4:
    print(age1,"younger")
elif age2<age3 and age2<age4:
    print(age2,"younger")
elif age3<age4:
    print(age3,"younger")
else:
    print(age4,"younger")

enter the age: 85
enter the age: 45
enter the age: 84
enter the age: 54

45 younger

In [75]:
num_d=eval(input("enter the num:"))

if num_d%2==0 and num_d%3==0:
    print("divisible by both")
else:
    print("not divisible")

enter the num: 18

divisible by both

In [93]:
l=[1,"abc",1,"abc"]
if l==l[::-1]:
    print("true") 
else:
    print("false")

false

In [97]:
s=input("enter the day of the week:")
if s in ["saturday","sunday"]:
    print("weekend")
else:
    print("weekday")

enter the day of the week: monday

weekday

In [135]:
n=input("enter the num:")
d=[int(x) for x in n.split()]
for i in d:
    fac=i*(i-1)
    print(fac)

enter the num: 5

20

In [42]:
n=input("enter the number:")    # e.g., 5 3 4
d=[int(x) for x in n.split()]

for i in d:
    fact=1
    for j in range(1,i+1):
        fact*=j
    print(f"factorial of {i} is {fact}")  #syntax to print format is print(f" ....{var}")

enter the number: 8

factorial of 8 is 40320